* {
    margin: 0;
    padding: 0;
  }

.navbar{
    background-color: white !important;
}

.nav-item{
    color: #212529 !important;
}

.maincontent{
background-color:#f8f8f8;
text-align: center;
}

