* {
    margin: 0;
    padding: 0;
  }

  body{
      font-family: "Open Sans", Helvetica, sans-serif;
      font-size: 13pt;
      font-weight: 400;
      line-height: 1.65em;
  }

  .navbar{
    z-index:9; 
   }
   
   #myCarousel{
     width:100%;
     top:0;
   }

   .d-block w-100 {
    width:100%;
    height:550px;
    object-fit:cover;
    object-position:50% 50%;
   }

nav {
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    font-weight: bolder;
    font-size: 20px;
    overflow:hidden;
  }
  
  nav a:hover {
    border: 1px solid #B17B1A;
    padding: 6px 0; 
    color: #B17B1A !important;
  }

  nav img{
    height: 100px;
  }

  .navbar-wrapper {
    position:relative;
}
.carousel {
    top:0;
}
.carousel-inner {
    width: 100%; 
    overflow: hidden;
    }
.navbar {
    position:absolute;
    top:0;
    z-index:10;
    background: #343a40;
    opacity: 0.95;
    width:100%;
}

.navbar a {
  color:white;
}

  /* Carousel base class */
/*
  .carousel {

}

*/

.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  background-size: 100% 100%;
  height: 30px !important;
  width: 30px !important;
}

.carousel-indicators {
	position: absolute;
  bottom: 2em;

}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 100vh;
  background-color: #212529;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}



.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}


/* using a container causes multiple alerts to stack. */
.alerts-container {
	position: fixed;
	top: 1em;
	right: 2em;
	z-index: 9999;
}


.intro-content{
  padding-top: 100px;
}


.title-header{
  color:#212529;
  font-weight: bolder;
  display:inline-block;
  margin-bottom: 40px;
  padding:0px;
  border-bottom:4px #B17B1A solid;
  margin-top:30px;
}

.featured-header{
  color:#212529;
  font-weight: bolder;
  padding:0px;
  font-size:18px;
  border-bottom:1px #B17B1A solid;
  
}

.featured-services{
  background: #f8f8f8;
 
}

.servicesbtn{
color: #B17B1A;
font-weight: bolder;
margin-bottom: 100px;
}

.servicesbtn:hover {
  border: 2px solid #B17B1A;
}

.allservices{
  text-align: center;
}


.companyinfo{
  margin-top: 100px;
  margin-bottom: 100px;
}

.contactus p{
  text-align: left !important;
}


.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  }