.navbar {
    background-color: transparent;
    border: none;
    z-index: 100;
    transition: background-color 1s ease 0s;
    display:flex;
    text-align: center;
    height: 110px;
}

.nav-item{
    color: #212529 !important;
    font-size: 20px;
    vertical-align: middle !important;
}



  nav img{
    height: 100px;
  }


  .navbar-collapse{
    flex-grow:1 !important;
      align-items: center !important;
  }




/* Solid class attached on scroll past first section */
.navbar.solid {
    background-color: rgba(50, 45, 60, 1);
    transition: background-color 0.5s ease 0s;
    box-shadow: 0 0 4px grey;
}
.navbar.solid .navbar-brand {
    color: #ffffff;
    transition: color 1s ease 0s;
    font-size: 30px;
}
.navbar.solid .navbar-nav > li > a {
    color: #ffffff;
    transition: color 0.5s ease 0s;
}

